<form method="post" action="{{ path('app_materiel_delete', {'id': materiel.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer ce materiel ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiel.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>