<form method="post" action="{{ path('app_commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette commande ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
